.preloader-static {
    align-items: center;
    background: rgba(54, 54, 54, 0.767);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
    display: none;
}

.btn-xs {
    padding: 0.09rem 0.4rem;
    font-size: 0.68rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-mini {
    padding: 0.2rem 1rem;
    font-size: 0.68rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}