baseenv/
media/
settings.py
*.pyc
.idea/
.idea/**
.vscode/
.venv/
**/migrations/**
pruebas.py
pruebas2.py
!**/migrations
!**/migrations/__init__.py
/.idea
/.idea/**
.ipynb_checkpoints/
workspace.xml
*py~
exepcion_send.text
*#
