
{% load static %}
{% load i18n %}
{% load qr_code %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>

    <style type="text/css">
        @page {
            size: A4 landscape;
            margin: 0;

            /* A4 */
            /* size: A4 landscape; */
        }
        @font-face {
            font-family: 'SigmarOne';
            src: url({% static "fonts/SigmarOne-Regular.ttf" %});
            
        }
        body {
            margin: 0;
            min-width: 100vw;
            min-height: 100vh;
            background-image: url({{ url2 }});
            background-size: contain; /*or cover or whatever you like*/
            background-repeat: no-repeat;
            background-position: center;
        }

        .rotated {
            transform: rotate(270deg);
        }
   

    </style>
</head>

<body>
    <div class="container">
        <div class="row bg-info">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div style="margin-top: 299px;; text-align: center; font-size: 34px; color: #009FE3; font-weight:bold!important">{{ c.persona.nombres|upper }}</div>
                <div style="text-align: center;">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</div>
                <div style="text-align: center; font-size: 20px; color: #46494B; font-weight: 800">Por haber aprobado exitosamente el curso de :</div>
                <div style="text-align: center; font-size: 35px; color: black; font-weight: 900; min-height: 90px">{{ c.curso.nombre|upper }}</div>
                <div style="text-align: center; font-size: 18px; color: #46494B;">Realizado en la semana de 
                    capacitación del {{ c.capacitador }}, {{ c.curso.fecha_descripcion }}, en modalidad {{ c.curso.modalidad }}, con una duración de {{ c.curso.horas }}.</div>
   
                <div style="text-align: center; font-size: 18px; color: #46494B; margin-top: 12px;">Cuenca - Ecuador</div>
            </div>
            <div class="col-12" style="margin-left: 50px; width: 80px; height: 80px; margin-top: -20px;">
                {% qr_from_text url size=3 image_format="png" error_correction="L" %}
            </div>

            <div class="row" style="text-align: center; margin: 0 auto;">
                <div class="col-2">
     
                </div>
                <div class="col-8">
                    <div class="row" style="margin-top: 90px">
                        <div class="col-4">
                            <div style="text-align: center;">. . . . . . . . . . . . . . . . . . . . . . . . . .</div>
                            <div style="text-align: center; color: #009FE3; font-size: 15px">PhD. Pantoja María Teresa</div>
                            <div style="text-align: center; font-size: 10px; margin-top: 2px">VICERRECTORA<BR>ACADÉMICA</div>
                        </div>
                        <div class="col-4">
                            <div style="text-align: center;">. . . . . . . . . . . . . . . . . . . . . . . . . .</div>
                            <div style="text-align: center; color: #009FE3; font-size: 15px">Lcdo. Martinez V. Richard. A.</div>
                            <div style="text-align: center; font-size: 10px; margin-top: 2px">COORDINADOR DE<BR>EDUCACIÓN CONTINUA</div>
                        </div>
                        <div class="col-4">
                            <div style="text-align: center;">. . . . . . . . . . . . . . . . . . . . . . . . . .</div>
                            <div style="text-align: center; color: #009FE3; font-size: 15px">PhD. Pantoja María Teresa</div>
                            <div style="text-align: center; font-size: 10px; margin-top: 2px">CAPACITADOR<BR>N° REGISTRO: 1107-2017-1843446</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
        
                </div>
            </div>

        </div>
    </div>
    <div class="rotated" style="position: fixed; right: -227px; bottom: 344px; font-size: 13px">
        <span style="font-weight: 700; color: #009FE3;">Número de Código:</span>;&nbsp;
        <span>{{ c.codigo }}</span> &nbsp; &nbsp;
        <span style="font-weight: 700; color: #009FE3;">C.I.</span>
        <span style="color: #009FE3;">{{ c.persona.cedula }}</span> &nbsp; &nbsp;
        <span style="font-weight: 700;">Número de Código:</span>;&nbsp;
        <span>{{ c.fecha|date:"d-m-Y" }}</span>
    </div>
</body> 