{% extends 'layout/base.html' %}
{% block content %}
    <h1 class="h4">Administración de Certificados</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-sm formmodal" nhref="{% url "upload_certificados" %}" href="javascript:">
                <i class="bi bi-plus-circle-fill"></i> Adicionar Certificados
            </a>
        </div>
        <div class="col">
            <form method="GET" class="d-flex justify-content-end">
                <input class="form-control w-50" type="text" id="kword" name="kword" value="{{ request.GET.kword }}" placeholder="Buscar">
                <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th style="width:15%">Código</th>
                    <th style="width:10%">Cédula</th>
                    <th style="width:25%">Nombres</th>
                    <th style="width:15%">Curso</th>
                    <th style="width:45%">Capacitador</th>

                </tr>
            </thead>
            <tbody>
                {% for c in certificados %}
                    <tr>
                        <td>{{ c.codigo }}</td>
                        <td>{{ c.persona.cedula }}</td>
                        <td>{{ c.persona.nombres }}</td>
                        <td>{{ c.curso }}</td>
                        <td>{{ c.capacitador }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No hay registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
