{% extends 'layout/base.html' %}

{% block extrajs %}
    <script>
        console.log('hello');

        const myModal = new bootstrap.Modal('#infoCertificado', {
            keyboard: false
        })

        function openModal(id) {
            {% for c in carnets %}
                if (id == {{ c.id }}) {
                    document.getElementById('c-cedula').innerHTML = '{{ c.cedula }}';
                    document.getElementById('c-nombres').innerHTML = '{{ c.nombres }}';
                    document.getElementById('c-apellidos').innerHTML = '{{ c.apellidos }}';
                    document.getElementById('c-correo').innerHTML = '{{ c.correo }}';
                    document.getElementById('c-departamento').innerHTML = '{{ c.departamento }}';
                    document.getElementById('c-foto').innerHTML = '{{ c.foto }}';
                    myModal.show();
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="infoCertificado" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="infoModalLabel">Certificado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert" style="background-color: #00A4AF; color: white" role="alert">
                        <b id="c-curso">Curso:</b>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Cédula</th>
                                <td id="c-cedula"></td>
                            </tr>
                            <tr>
                                <th scope="row">Nombres</th>
                                <td id="c-nombres"></td>
                            </tr>
                            <tr>
                                <th scope="row">Apellidos</th>
                                <td id="c-apellidos"></td>
                            </tr>
                            <tr>
                                <th scope="row">Correo:</th>
                                <td id="c-correo"></td>
                            </tr>
                            <tr>
                                <th scope="row">Departamento:</th>
                                <td id="c-departamento"></td>
                            </tr>
                            <tr>
                                <th scope="row">Fotografía:</th>
                                <td id="c-foto"></td>
                            </tr>
                        </tbody>
                    </table>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <h1 class="h3 text-center">Verificación de Carnets</h1>
    <p class="text-center">Verifica tus carnet ingresando el número de cédula</p>
    <div class="row">
        <div class="col">
            <form method="GET" class="d-flex justify-content-center">
                <input class="form-control" style="max-width: 300px" type="text" id="kword" name="kword" value="{{ request.GET.kword }}" placeholder="Buscar">
                <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-search"></i> Buscar</button>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="d-grid gap-2 col-5 mx-auto" style="max-width: 300px">
            <label class="text-align-center m-auto">
                Cédula de prueba: 0105000970
            </label>
        </div>
    </div>

    <div class="row" style="margin-top: 40px">
        <table class="table table-bordered">
            <thead style="background-color: #00A4AF; color: white">
                <tr>
                    <th style="width:15%">Cédula</th>
                    <th style="width:25%">Nombres</th>
                    <th style="width:15%">Apellidos</th>
                    <th style="width:15%">Correo</th>
                    <th style="width:45%">Departamento</th>
                    <th style="width:45%">Foto</th>
                    <th style="width:10%">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in carnets %}
                    <tr>
                        <td>{{ c.cedula }}</td>
                        <td>{{ c.nombres }}</td>
                        <td>{{ c.apellidos }}</td>
                        <td>{{ c.correo }}</td>
                        <td>{{ c.departamento }}</td>
                        <td><img src="{{ c.foto.url }}" alt="" width="70px"></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info btn-mini dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                  Acciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" onClick="openModal('{{ c.id }}')" href="#">
                                            <i class="bi bi-pencil-square"></i> Ver Certificado
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"  href="{% url 'verificar_carnet_id' c.cedula %}" target="_blank">
                                            <i class="bi bi-plus-square"></i> Imprimir Certificado
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No hay registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
